@media screen and (max-width: 768px) {
    /* nav bar */
   .line{
       width: 30px;
       height: 3px;
       background: white;
       margin: 5px;
   }
   
   .nav-bar{
       position: relative;

   }
   .hamburger{
       position: absolute;
       cursor: pointer;
       right: 5%;
       top: 18%;
   }

   .nav-links{
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #E44C65;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 60px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    
   }

   .nav-links li{
       padding: 20px;
       padding-bottom: 0;
   }
   .nav-links li:last-child{
       padding-bottom: 20px;
   }

   .nav-links.active{
       left: 0;
       opacity: 1;
       transition: all 0.5s ease;
   }

   .nav-links li a {
       text-align: center;       
       color: whitesmoke;
   }

   #mobile-menu.is-active .line:nth-child(2){
       opacity: 0;
   }

    #mobile-menu.is-active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
   }

    /* hero section */

    div.hero-content-heading h3 {
        font-size: 1.8rem;
        align-items: center;
        font-weight: 280;
    }
     
    div.hero-content-heading p {
        font-size: 0.8rem;
        letter-spacing: 1.5px;
        font-size: 0.8rem;
    }
    /* hero sub section */

    div.snapshot-box-content {
        flex-direction: column;

    }

    div.snapshot-team p,
    div.snapshot-team h2 {
        padding: 0 9px;
    }
    div.background {
        height: 350px;
        width: 600px;
    }

    div.hero-background-pos {
       visibility: hidden;      
    }

    /* footer */
    
    div.footer-input {
        flex-direction: column;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 80%;
    }

    input[type="text"] {
        margin-bottom: 1rem;
    }

}